/* ----------------------Docs styling---------------------- */

/* Documentation styling */
main .documentation .mt {
    position: relative;
    width: fit-content;
    color: var(--main-red-clr) !important
}
main .documentation .mt::before {
    content: '#';
    position: absolute;
    top: 0;
    left: -30px;
    opacity: 0;
    transition: var(--main-trans)
}
main .documentation .subt {
    position: relative;
    width: fit-content;
    color: var(--main-clr) !important
}
main .documentation .subt::before {
    content: '*';
    position: absolute;
    top: 0;
    left: -30px;
    opacity: 0;
    transition: .2s
}
main .documentation .mt:hover::before,
main .documentation .subt:hover::before {opacity: 1}
main .documentation p {
    color: #444;
    font-size: 20px;
    line-height: 1.8;
    word-spacing: 2px
}
@media (max-width: 576px) {
    main .documentation p {font-size: 19px}
}
main .documentation .pers-image,
main .documentation .image {
    background-color: #777;
    overflow: hidden;
    border-radius: 4px
}
main .documentation .image {
    height: 500px;
    max-width: 900px;
    box-shadow: var(--bs-box-shadow)
}
main .documentation .pers-image {
    height: 170px;
    width: 150px;
    box-shadow: var(--bs-box-shadow)
}
@media(max-width: 768px) {
    main .documentation .image {height: 400px}
}
@media(max-width: 576px) {
    main .documentation .image {height: 240px}
}
main .documentation .pers-image img,
main .documentation .image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
main .documentation .link-card {
    height: 170px;
    background-size: cover;
    transition: var(--main-trans)
}
main .documentation .link-card:hover {
    transform: scale(1.05);
    filter: grayscale(1)
}
main .documentation .link-card h4 {transition: var(--main-trans)}
main .documentation .link-card p {
    font-size: 19px;
    transition: var(--main-trans)
}
main .documentation .vid {
    height: 500px;
    max-width: 900px;
    box-shadow: var(--bs-box-shadow)
}
main .documentation .vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width: 768px) {
    main .documentation .vid {height: 400px
    }
}
@media(max-width: 576px) {
    main .documentation .vid {height: 240px;}
}
.map {
    position: relative;
    border: 2px solid var(--main-black-clr) !important;
    height: 900px;
    width: 400px;
    overflow: hidden;
}
.map img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
@media(max-width: 576px) {
    .map {
        height: 700px;
        width: 300px;
    }
}
/* Documentation styling */

/* ----------------------Docs styling---------------------- */